# **VISUALIZATION**

 

*   Elimizde bulunan, sayılardan oluşan datayı herkesin anlayabileceği, sonuç çıkarabileceği şekilde plot ettirme işlemidir.
*   Datayı yorumlamayı kolaylaştırır.
*   Bazı görselleştirme toolları şunlardır:

1.   Seaborn
2.   Plotly
3.   Rare visualization tools
4.   Matplotlib
5.   Geoplotlib

*   EDA: Exploratory Data Analysis

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
percentage_people_below_poverty_level = pd.read_csv("/content/drive/MyDrive/data/PercentagePeopleBelowPovertyLevel.csv", encoding="windows-1252")

İlk sorun: Her bir eyaletin fakirlik oranı

Bunun percentage_people_below_poverty_level değişkenine depolanan data kullanılacak.

In [3]:
percentage_people_below_poverty_level.head()    #Geographic Area -> eyalet
                                                #city ve o citydeki fakirlik oranı

  Geographic Area             City poverty_rate
0              AL       Abanda CDP         78.8
1              AL   Abbeville city         29.1
2              AL  Adamsville city         25.5
3              AL     Addison town         30.7
4              AL       Akron town           42

In [4]:
percentage_people_below_poverty_level.info()   #29329 sample var
                                               #sütunların null olmayan veri sayısıyla sample sayısı eşit
                                               #non-null sütunların içinde anlamsız bir değer var mı diye value_counts methodu kullanılır.
                                               #3 sütun da string değer barındırır.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29329 entries, 0 to 29328
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Geographic Area  29329 non-null  object
 1   City             29329 non-null  object
 2   poverty_rate     29329 non-null  object
dtypes: object(3)
memory usage: 687.5+ KB

In [5]:
percentage_people_below_poverty_level.poverty_rate.value_counts()  #poverty_rate sütununda 0 değerinden 1464 tane var.
                                                                   #bu da fakirlik oranı 0 olan 1464 değer demektir.
                                                                   #'-' değerinden 201 tane var.
                                                                   #bu değerin ne anlama geldiği bilinmemektedir.
                                                                   #bu değerin göz önünde bulundurulmaması için 0'a eşitlenebilir.

0       1464
-        201
7.4      129
6.7      129
10.9     128
        ...
73.5       1
92         1
73.8       1
55.9       1
83.6       1
Name: poverty_rate, Length: 771, dtype: int64

In [6]:
percentage_people_below_poverty_level.poverty_rate.replace(['-'],0.0,inplace = True)  
                          #datadaki poverty_rate sütununda bulunan '-' değeri 0 ile değiştirildi.
                          #inplace=True olması bu işlemin kalıcı olduğu anlamına gelir.

In [7]:
percentage_people_below_poverty_level.poverty_rate = percentage_people_below_poverty_level.poverty_rate.astype(float)
#poverty_rate sütunu bir oran barındırır.
#ancak poverty_rate sütununun türü objecttir.
#yani bu sütundaki veriler stringdir.
#sayısal bir değere eşitlenmesi lazımdır.
#oran sonuçları virgüllü çıkabileceği için stringe eşitlenir.